* {
    margin: 0;
    padding: 0;
}

.search-input {
    box-shadow: none !important;
    outline: none !important;
}

.react-calendar__month-view__weekdays__weekday {
    text-decoration: none !important;
}

.react-calendar__tile {
    padding: 20px !important;
}

.react-calendar__tile--now {
    background-color: #0d6efd !important;
    color: white !important;
    border-radius: 10px;
}